body {
  background: black;
  color: white;
  font-family: "Press Start 2P", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 64px;
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  color: white;
  margin: 64px auto;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 32px 64px;
  border: 0.35rem double white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background: white;
  color: black;
}

.hidden {
  display: none;
}

.question,
.score {
  text-align: center;
  line-height: 2.5;
  font-size: 2.25rem;
  margin-bottom: 64px;
  width: 100%;
}

.answers button,
.score + button {
  font-family: monospace;
  display: block;
  margin: 16px auto;
  width: 100%;
}

#color-picker {
  margin-top: 64px;
  text-align: center;
  font-size: 1.75rem;
}

#color-picker label {
  display: block;
  margin-bottom: 12px;
}

.credits {
  margin-top: 64px;
}

#color-picker input[type="color"] {
  width: 100px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: none;
  border: 0.35rem solid white;
}

.credits .btn {
  margin-top: 64px;
}

#credits {
  text-align: center;
}

.credits-list {
  margin-top: 16px;
  font-size: 2rem;
  line-height: 2;
}

.credits-list span {
  font-size: 1.5rem;
  line-height: 2;
}

@media (min-width: 1024px) {
  body {
    transform: scale(0.5);
    transform-origin: top center;
    height: 200vh;
  }
}
